body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #FF7700; /* Set your desired background color */
  }

  #form {
    background-color: #FFF6EB; /* Set your desired form background color */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px; /* Set your desired form width */
  }

  .input-wrap {
    margin-bottom: 15px;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }

  .input-field {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc; /* Set your desired input border color */
    border-radius: 4px;
  }

  .sign-btn {
    background-color: #402E32; /* Set your desired button background color */
    color: #fff; /* Set your desired button text color */
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }